@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project manager</title>


    
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/css/main.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark position-fixed fixed-top">
        <a class="navbar-brand" href="#">
            @Html.ActionLink("Project manager", "Index", "ProjectManager", new { area = "" }, new { @class = "navbar-brand" })
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#nav" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="nav" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("My projects", "Users", "ProjectManager", new { user = ViewBag.username, project = "" }, new { @class = "nav-link" })
                    }
                    else
                    {
                        @Html.ActionLink("My projects", "Users", "ProjectManager", new { user = "not logged in" }, new { @class = "nav-link" })
                    }
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Explore", "Index", "ProjectManager", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })
                </li>

            </ul>
            @Html.Partial("_LoginPartial")

        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            
        </footer>
    </div>

    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>




