@{ 
    int i = 1;
    DateTime currentTime = DateTime.Now;
}

<script src="~/Scripts/js/sprint.js"></script>

<div class="container pt-4">
    <input type="hidden" id="projectName" value="@ViewBag.projectName">
    <input type="hidden" id="user" value="@ViewBag.userName">

    <!--menu start-->
    @Html.ActionLink("overview", "users", "ProjectManager", new { user = @ViewBag.userName, project = @ViewBag.projectName, type = "" }, new { @class = "btn btn btn-outline-primary mr-3" })
    @Html.ActionLink("current sprint", "users", "ProjectManager", new { user = @ViewBag.userName, project = @ViewBag.projectName, type = "sprint" }, new { @class = "btn btn btn-outline-primary mr-3" })
    @Html.ActionLink("backlog", "users", "ProjectManager", new { user = @ViewBag.userName, project = @ViewBag.projectName, type = "backlog" }, new { @class = "btn btn btn-outline-primary mr-3" })
    @Html.ActionLink("stats", "users", "ProjectManager", new { user = @ViewBag.userName, project = @ViewBag.projectName, type = "stats" }, new { @class = "btn btn btn-outline-primary mr-3" })
    <!--menu end-->

    @if (ViewBag.type == "overview")
    {
        

        <div class="mt-4">
            <h2>@ViewBag.projectName</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sprint</th>
                    <th scope="col">Title</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                
                @foreach (var sprint in ViewBag.sprints)
                {
                <tr>
                    <th scope="row">@i</th>
                    <td>@sprint[3]</td>
                    <td>@sprint[1]</td>
                    <td>@sprint[2]</td>
                    @if (currentTime.Subtract(((DateTime)sprint[2])).TotalSeconds < 0)
                    {
                        <td>Not done</td>
                    }
                    else
                    {
                        <td>Done</td>
                    }

                    @Html.Partial("_RemoveSprint");
                    <td><button id="removeSprint_@sprint[0]" class="btn btn-outline-danger" data-toggle="modal" data-target="#sprint_remove_modal" value="@sprint[0]" onclick="setSprintId(this)">Remove</button></td>
                </tr>
                    i++;
                }
            </tbody>
        </table>

        

    }
    else if (ViewBag.type == "sprint")
    {

        if (ViewBag.sprintExists == false)
        {
            @Html.Partial("_CreateSprint");

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="display-4">You have no active sprint</h5>
                    <p class="card-text">Create a sprint to start to using this page!.</p>
                    <button id="new_sprint" class="btn btn-outline-success " data-toggle="modal" data-target="#sprint_modal">new sprint</button>
                </div>
            </div>

        }
        else
        {
            @Html.Partial("_CreateTask");

            DateTime end_time = ((DateTime)ViewBag.sprint["end_time"]);
            DateTime CurrentTime = DateTime.Now;

            int totalHours = (int)end_time.Subtract(CurrentTime).TotalHours;
            int days = totalHours / 24;
            int hours = totalHours % 24;

            <div class="mt-2">
                <h3>@ViewBag.sprint["name"]</h3>
                <a>Time left: @days days @hours hours </a>
            </div>


            <ul class="nav mt-2 mb-2">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Filters</a>
                </li>
                <li class="nav-item">
                    <button id="new_task" class="btn btn-outline-success " data-toggle="modal" data-target="#task_modal">new task</button>
                </li>
            </ul>


            <div class="container-fluid shadow-sm">
                <div class="row shadow-sm mb-2">
                    <div class="col-sm text-center ">
                        <label class="container-fluid">New</label>
                    </div>
                    <div class="col-sm text-center">
                        <label class="container-fluid">In progress</label>
                    </div>
                    <div class="col-sm text-center">
                        <label class="container-fluid">Testing</label>
                    </div>
                    <div class="col-sm text-center">
                        <label class="container-fluid">Done</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm" ondrop="drop(event, this)" ondragover="allowDrop(event)">

                        @foreach (var project in ViewBag.tasks)
                        {
                            <div class="card mb-3 shadow" id="task_@project[0]" draggable="true" ondragstart="drag(event)">
                                @if (project[4] == 1)
                                {
                                    <div class="bg-danger">
                                        <p class="text-light pt-2 pl-2">2020-09-12</p>
                                    </div>
                                }
                                @if (project[4] == 2)
                                {
                                    <div class="bg-success">
                                        <p class="text-light pt-2 pl-2">2020-09-12</p>
                                    </div>
                                }
                                @if (project[4] == 3)
                                {
                                    <div class="bg-primary">
                                        <p class="text-light pt-2 pl-2">2020-09-12</p>
                                    </div>
                                }



                                <div class="card-body">
                                    <h5 class="card-title">@project[1]</h5>
                                    <p class="card-text">@project[2]</p>
                                    <a href="#" class="btn btn-outline-primary float-right">Edit</a>
                                </div>
                            </div>
                        }


                    </div>
                    <div class="col-sm" ondrop="drop(event, this)" ondragover="allowDrop(event)">

                    </div>
                    <div class="col-sm" ondrop="drop(event, this)" ondragover="allowDrop(event)">

                    </div>
                    <div class="col-sm" ondrop="drop(event, this)" ondragover="allowDrop(event)">

                    </div>
                </div>

            </div>


        }
    }



</div>
