<div class="container pt-5">

    <!--menu start-->
    @Html.ActionLink("overview", "users", "ProjectManager", new { user = @ViewBag.userName, project = @ViewBag.projectName, type = "" }, new { @class = "btn btn-outline-primary mr-3" })
    @Html.ActionLink("sprint", "users", "ProjectManager", new { user = @ViewBag.userName, project = @ViewBag.projectName, type = "sprint" }, new { @class = "btn btn-outline-primary mr-3" })
    @Html.ActionLink("backlog", "users", "ProjectManager", new { user = @ViewBag.userName, project = @ViewBag.projectName, type = "backlog" }, new { @class = "btn btn-outline-primary mr-3" })
    @Html.ActionLink("stats", "users", "ProjectManager", new { user = @ViewBag.userName, project = @ViewBag.projectName, type = "stats" }, new { @class = "btn btn-outline-primary mr-3" })
    <!--menu end-->

    @if (ViewBag.type == "overview")
    {
        <div class="mt-4">
            <h2>@ViewBag.projectName</h2>
        </div>
    }
    else if (ViewBag.type == "sprint")
    {

        if (ViewBag.sprintExists == false)
        {
            @Html.Partial("_CreateSprint");
            <h1 class="mt-5">you have not created any sprints yet.</h1>
            <button id="new_sprint" class="btn btn-outline-success mr-3" data-toggle="modal" data-target="#sprint_modal">new sprint</button>
        }
    }



</div>
